html {
}
/* Universal Styles */

body {
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_foodlogo.png");
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}

a {
	text-decoration: none;
}

/* Navigation */

nav {
  text-align: center;
}

nav img {
	display: block;
	width: 180px;
	margin: 0 auto;
	float: left;  
}

/* Content Container */

.content {
	width: 100%;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
	overflow: scroll;
}

/* Content Header */

.header {
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_burgerphoto.jpeg");
	background-position: center;
	background-size: cover;
	height: 320px;
	padding-top: 16px;
	margin-top: -20px;
	padding-bottom: 88px;
}

h1 {
	background-color: #05A8AA;
	color: #FFF;
	font-family: stencil-std;
	font-size: 40px;
	font-weight: 400;
	line-height: 40px;
	width: 41%;
	padding: 20px;
	margin: 0 auto;
	border-bottom-right-radius: 14px;
	border-bottom-left-radius: 14px;
	opacity: 0.9;
	font-style: normal;
}

.body p {
	color: #333333;
	font-weight: 100;
	line-height: 34px;
	width: 90%;
	margin-top: 18px;
}

/* Content Button */

.button {
  border-radius: 4px;
  color: #05A8AA;
  display: block;
  font-weight: 700;
  width: 200px;
  padding: 20px;
  margin: 40px auto;
  border: 1px solid blue;
}

.button:hover {
  background-color: #05A8AA;
  border: 1px solid #05A8AA;
  color: #FFF;
}

/* Content Nutrition */

ul.nutrition {
  padding: 20px;
  
}

ul.nutrition li {
  display: inline-block;
  background-color: #05A8AA;
  list-style: none;
  width: 200px;
  padding: 10px 20px;
  margin-bottom: 3px;
}

.nutrition .category {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  display: block;
}

.nutrition .value {
  color: white;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;
}
.menu-bar {
	padding-top: 0px;
	margin-bottom: 29px;
}
.davies-home-button {
	margin-top: -3px;
	width: 142px;
	padding-top: 0px;
	padding-bottom: 6px;
	height: 53px;
}
.menu-bar-list  {
	margin-right: 22px;
	margin-left: 28px;
	margin-top: -20px;
	padding-top: 0px;
}
.menu-bar .menu-bar-list .float-left.menu-bar-list {
	border-radius: 4px;
	color: #05A8AA;
	display: block;
	font-weight: 700;
	width: 90px;
	padding-top: 12px;
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom: 12px;
	margin-top: 13px;
	margin-bottom: 8px;
	border: 1px solid blue;
	margin-left: 2px;
	background-color: rgba(235,248,255,1.00);
	margin-right: 7px;
}

.menu-bar .menu-bar-list .float-left.menu-bar-list:hover{
	background-color: #05A8AA;
	border: 1px solid #05A8AA;
	color: #FFF;
}
.menu-bar .promo-banner {
	padding-top: 13px;
	margin-right: 123px;
}
.menu-bar .members {
	float: right;
	margin-right: 55px;
	margin-top: 25px;
	padding-right: 23px;
}


.content .header {
	padding-top: 19px;
}
.menu-bar .members .jr-signup-login {
	margin-top: -3px;
	display: block;
	margin-right: -44px;
}
.jr-signup-login a li {
	margin-left: 28px;
}
.jr-signup-login a li {
}
